.card {
    margin: 10px;
padding-bottom: 5px;
/* border:1px solid lightgray; */
box-shadow:0 0.747159px 1.4113px rgba(135,165,217,.0224916), 0 1.79553px 3.39155px rgba(135,165,217,.0323114), 0 3.38082px 6.38599px rgba(135,165,217,.04), 0 6.0308px 11.3915px rgba(135,165,217,.0476886), 0 11.28px 21.3066px rgba(135,165,217,.0575083);
border-radius: 10px;
width: 220px;
}

.card:hover {
    transition: 0.5s;
    transform: scale(1.08);
}

.card > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.card > h1 {
    padding-left: 10px;
    font-size: 18px;
}

/* @media (max-width: 1200px) {
    .card {
        width: 30%;
    }
}


@media (max-width: 683px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 417px) {
    .card {
        width: 100%;
    }
} */