.card {
    margin: 10px;
padding-bottom: 5px;
/* border:1px solid lightgray; */
box-shadow:0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); ;
border-radius: 10px;
width: 200px;
}

.card:hover {
    transition: 0.5s;
    transform: scale(1.08);
}

.card > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.card > h1 {
    padding-left: 10px;
    font-size: 18px;
}