.header {
    height: 70px;
    background-color: rgb(133, 27, 219);
    box-shadow:0 0.747159px 1.4113px rgba(135,165,217,.0224916), 0 1.79553px 3.39155px rgba(135,165,217,.0323114), 0 3.38082px 6.38599px rgba(135,165,217,.04), 0 6.0308px 11.3915px rgba(135,165,217,.0476886), 0 11.28px 21.3066px rgba(135,165,217,.0575083);

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    max-width: 1200px;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    margin: 0 20px;
}
