.home {
    background-image: url("https://wallpaperaccess.com/full/441431.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .home__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45vh;
  }

  .home__searchRandom {
    display: flex;
    justify-content: center;
  }


  /* #32e3d9 */
  .home__searchRandom > button {
    background-color: rgb(133, 27, 219);
    color: white;
    padding: 10px 20px;
  }