.home {
    background-image: url("https://i.pinimg.com/originals/d3/a7/c6/d3a7c6ae9ce80cd16ce2292be91407ac.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .home__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45vh;
  }